.containerEstilo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .inputEstilo {
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .botaoEstilo {
    width: 80px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    background-color: #ddd255;
    border: 1px solid #cccccc;
  }
  