.containerEstilo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .containerEstilo input {
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  